@import '../_config.scss';

.poke-pager-button {
    font-size: 18px;
    background-image: none;
    background-color: $primary-tint-color;
    color: $primary-font-color;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
                0 3px 6px rgba(0,0,0,0.23);
    border: none;
    margin-right: 4px;
    padding: 8px;
    cursor: pointer;
    outline: none;
    
    transition: background 0.8s;
    
    &:hover {
        background: $tertiary-color radial-gradient(circle, transparent 1%, $tertiary-color, 1%) center/15000%;
        box-shadow: 0 4px 8px rgba(0,0,0,0.16), 
                    0 4px 8px rgba(0,0,0,0.23);
    }
    
    &:active {
        background-color: $tertiary-color;
        background-size: 100%;
        transition: background 0s;
    }

    &.active {
        background-color: $tertiary-color;
    }
}