@import '../_config.scss';

.poke-pager-control {
    float: left;
    margin-left: 24px;
    margin-bottom: 16px;
}

@media(min-width: 528px) {
    .poke-pager-control {
        float: right;
        margin-left: 0;
        padding-right: 12px;
    }    
}