@import '../_config.scss';

.pokemon-card {
    width: calc(100% - 48px);
    min-height: 300px;
    margin: 0 24px 32px 24px;
    min-height: 140px;
    background-color: $primary-tint-color;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
                0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    float: left;

    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                    0 10px 10px rgba(0,0,0,0.22);
    }

    .avatar {
        display: block;
        margin: 8px auto;
        max-width: 100%;
        max-height: 72px;
    }

    .info-panel {
        background-color: $secondary-tint-color;
        padding: 2px 8px;
    }

    .card-number {
        margin-bottom: 4px;
        font-size: 12px;
        text-align: center;
    }

    .cardname {
        margin-top: 4px;
        font-size: 16px;
        text-align: center;
    }
}

@media (min-width: 524px) {
    .pokemon-card {
        width: calc(50% - 32px);
        margin: 0 16px 32px 16px;
    }
}

@media (min-width: 728px) {
    .pokemon-card {
        width: calc(25% - 32px);
    }
}

@media (min-width: 1200px) {
    .pokemon-card {
        width: calc(20% - 32px);
    }
}