@import '../_config';

.side-nav-bar {
    background: $secondary-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 72px;
    box-shadow: 8px 0 5px -5px rgba(0, 0, 0, .3);
}

@media (min-width: 1024px) {
    .side-nav-bar {
        top: 0;
        bottom: 0;
        left: 0;
        right: auto;
        width: 72px;
    }
}