@import '../_config';

.side-nav-bar {
    background: $secondary-color;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 72px;
}

.side-nav-bar {
    box-shadow: 8px 0 5px -5px rgba(0, 0, 0, .3);
}